/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  text-rendering: optimizeLegibility;
}

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik
*/

/* ----- zde zacni psat vlastni css ----- */

* {
  margin: 0;
}

body {
  background-color: #f5f5f5;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.zbozi > div {
  width: 335px;
  height: 440px;
  padding: 30px;
}

.zbozi {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.vizual {
  background: linear-gradient(#06d7c1, #50cc49);
  color: white;
  position: relative;
}

.detaily {
  background-color: white;
  position: relative;
}

.slogan {
  font-size: 16px;
  font-weight: 500;
}

.cena {
  font-size: 28px;
  font-weight: 500;
}

.zaruka {
  font-size: 12px;
}

.nazev {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.produkt {
  color: #959595;
}

.parametr {
  text-transform: uppercase;
  padding-top: 30px;
}

.bota {
  position: absolute;
  left: -80px;
  bottom: 0px;
}

.logo {
  padding-bottom: 30px;
}

.popis {
  padding: 30px 0;
  border-bottom: #06d7c1 solid 1px;
}

.cenovka {
  position: absolute;
  right: 30px;
  bottom: 30px;
  text-align: end;
}

li {
  display: inline-block;
  padding: 11px;
  border: white solid 1px;
}

.velikosti {
  padding: 0;
}

li:hover,
li:focus,
li:active {
  border: #f15f42 solid 1px;
  border-radius: 50%;
  color: #f15f42;
}

.tlacitko {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #f15f42;
  padding: 15px 35px;

  border-radius: 10px;
  position: absolute;
  left: 30px;
  bottom: 30px;
}

.tlacitko:hover,
.tlacitko:focus,
.tlacitko:active {
  background-color: #cd3d39;
  color: #ffefd5;
}
